<header>
    <div class="navbar" role="navigation" aria-label="Main Navigation">
        <div class="logo">
            <img src="assets/images/im.jpg" alt="RoadMates Logo">
        </div>
        <nav>
            <ul>
                <li><a href="#" aria-label="Home Page">Home</a></li>
                <li><a routerLink="/create-ride" aria-label="Create a Ride">Find a Ride</a></li>
                <li><a routerLink="/user" aria-label="Create a Ride">My Reservations</a></li>
                <li><a href="#" aria-label="About Us">About Us</a></li>
                <li><a href="#" aria-label="Contact Us">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>