<app-header></app-header>


<main>
    <section class="welcome-section" aria-labelledby="welcome-heading">
        <img src="assets/images/Image.png" alt="Highway Image" class="welcome-image">
        <div class="welcome-text">
            <h1 id="welcome-heading">Welcome to RoadMates</h1>
            <p>Your convenient ShareWay service for hassle-free daily commutes.</p>
            <div class="buttons">
                <button class="login-btn" aria-label="Login to your account" routerLink="/auth">Login</button>
                <button class="register-btn" aria-label="Register a new account" routerLink="/register">Register</button>
            </div>
        </div>
    </section>
</main>


<app-footer></app-footer>